.night-counter__text {
  display: inline;
}

.night-counter__count {
  margin-left: 8px;
  display: inline;
}

.main {
  text-align: center;
}

.footer-container {
  text-align: center;
}

.game {
  display: none;
}
